@font-face {font-family: Light;  src: url(../fonts/Ubuntu-Light.ttf);}
@font-face {font-family: Regular;  src: url(../fonts/Ubuntu-Regular.ttf);}
@font-face {font-family: Bold;  src: url(../fonts/Ubuntu-Bold.ttf);}

*{margin: 0;  padding: 0;  box-sizing: border-box;}

#menuIcon {display: none;}
a {color: var(--TextColor1);}
html {
    --BackColor1: #1e2340;
    --BackColor2: #5e5ba6;
    --TextColor1: #FFFFFF;
    --TextColor2: #b4baff;
    --TextSize: 1;
    --SpoilerGradient: null;
    --phoneHeaderBack: #00000080;
}

body {background-color: var(--BackColor1);  color: var(--TextColor1);  font-family: 'light';}

#header {position: absolute;  margin-left: 5vw;  margin-top: 5vh;  border-left: 5px solid var(--TextColor2);  padding-left: 40px;}
#header ul {display: flex;  flex-direction: row;  align-items: center;  list-style: none;}
.headerLink{padding-right: 40px;  font-family: Regular;  font-size: 25px;  font-style: none;  cursor: pointer;}
.headerLink a {text-decoration: none;}
.headerLink:hover {text-decoration:underline;}
.selectedHeaderLink {color: var(--TextColor2);font-weight: bold;}
.SpanInfo {text-decoration: underline;  font-style: italic;  cursor: pointer;}

.spoiler {background: linear-gradient(-45deg, #898EF9,#8F79DB, #C291F2);  color: #ffffff00;  cursor: pointer;  font-style: italic;  border-radius: 3px;}
.spoiler:hover {animation: spoilerGradient 3s ease-in infinite;  -webkit-animation: spoilerGradient 3s ease-in infinite;}
.spoiler.clicked {background: none;  color: var(--TextColor1,#fff);  cursor: text;  animation: spoil 0.2s;}
@keyframes spoilerGradient {0% {background: #898EF9;}  33% {background: #8F79DB;}  66% {background: #C291F2;}  100% {background: #898EF9;}}
@keyframes spoil { 0% {background-color: #8e79db;  color: #ffffff00;}  25% {color: #ffffff00;}  100% {  background-color: #8e79db00;  color: var(--textColor,#fff);}}

[data-modal] { display:none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;  align-items: center;   justify-content: center;  border: none; max-width:  100%;max-height: 100%; background: none;}
[data-modal].active {display: flex;}
[data-modal] .grid { padding: 5px;  z-index: 10000; color: var(--TextColor1); background-color: var(--BackColor1); border-radius: 25px; box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);  font-family: Light; display: grid; grid-template-rows: 40px auto; grid-template-columns: auto 50px; gap: 8px; max-width: 50vw;}
#modalTitle {margin: auto; grid-area: 1 / 1 / 2 / 2; font-size: 1.5em;}
#modalContent {padding: 1em; font-size: 20px; grid-area: 2 / 1 / 3 / 3;}
.modalButton { padding: 5px; grid-area: 1 / 2 / 2 / 3; object-fit: cover; height: 30px; width: 30px; background: none; border: none; color: var(--TextColor1); margin: auto;}
[data-modal] .modalButton .modalCross .cls-1{stroke: var(--TextColor1);}
[data-modal] .overlay {height: 100%; width: 100%; position: absolute; z-index: -1; inset: 0px;}
/* Overlay de flou */
[data-overlay] {height: 100%; width: 100%; position: fixed; inset: 0px; background-color: #00000000; backdrop-filter: blur(0px); visibility: hidden; animation: hideModalOverlay 0.25s;z-index: 1000;}
[data-overlay].active {visibility: visible; backdrop-filter: blur(10px); background-color: #00000060; animation: showModalOverlay 1s;}
/*Animation*/
@keyframes showModalOverlay {from {visibility: visible; backdrop-filter: blur(0px); background-color: #00000000;} to {backdrop-filter: blur(10px); background-color: #00000060;}}
@keyframes hideModalOverlay {from { backdrop-filter: blur(10px); background-color: #00000060; visibility: visible;} to {backdrop-filter: blur(0px); background-color: #00000000; visibility: visible;}}

#modalContent p {margin-bottom: 5px;}
#modalContent h3 {margin-bottom: 5px;}
#modalContent h4 {margin-bottom: 5px;}

.langItem {cursor: pointer;}
.langItem:hover img {border: 2px solid var(--TextColor2);  box-shadow: 0 0px 15px 0 var(--TextColor2);  padding: 0;}
.langItem:hover p {text-decoration: underline;}
.langItem img {  border-radius: 100vmax;  -webkit-border-radius: 100vmax;  -moz-border-radius: 100vmax;  -ms-border-radius: 100vmax;  -o-border-radius: 100vmax;  margin: 15px;  box-sizing: content-box;  padding: 2px;  transition: box-shadow 0.15s;  -webkit-transition: box-shadow 0.15s;  -moz-transition: box-shadow 0.15s;  -ms-transition: box-shadow 0.15s;  -o-transition: box-shadow 0.15s;}
.langItem img.selected {border: 2px solid var(--TextColor2);  padding: 0;}

.switch {height: 25px;  width: 50px;  display: flex;  flex-direction: row;  border-radius: 25px;  -webkit-border-radius: 25px;  -moz-border-radius: 25px;  -ms-border-radius: 25px;  -o-border-radius: 25px;  border: 1px solid var(--TextColor2);  padding: 0;}
.switchBall {height: 24px;  width: 24px;  border-radius: 25px;  background-color: var(--TextColor2);  padding: 0;  margin: 0;  transition: all 0.5s;  -webkit-transition: all 0.5s;  -moz-transition: all 0.5s;  -ms-transition: all 0.5s;  -o-transition: all 0.5s;}
.switch.on .switchBall{transform: translateX(25px);  -webkit-transform: translateX(25px);  -moz-transform: translateX(25px);  -ms-transform: translateX(25px);  -o-transform: translateX(25px);}

.rememberButton {background-color: var(--BackColor2);  color: var(--TextColor1);  font-size: 20px;  padding: 7px;  border-radius: 10px;  -webkit-border-radius: 10px;  -moz-border-radius: 10px;  -ms-border-radius: 10px;  -o-border-radius: 10px;  border: none;  transition: all 0.15s;  -webkit-transition: all 0.15s;  -moz-transition: all 0.15s;  -ms-transition: all 0.15s;  -o-transition: all 0.15s;}
.rememberButton:hover {box-shadow: 0 0px 15px 0 var(--TextColor2);  background-color: var(--BackColor1);}

@media (max-width:  100vmin) {
    #header li a {text-decoration: none;  font-family: Regular;  font-size: 2rem;  font-style: none;}

    #modal {max-width: 95vw;}

    #menuIcon {display: block;  position: absolute;  margin: 0;  padding: 0;  top: 5vh;  left: 5vh;  height: 5vh;  width: 5vh;  border: none;  border-left: none;  border-right: none;  z-index: 16;}
    #menuIcon::after {  content: "";  display: block;  height: 5vh;  width: 5vh;  background-color: var(--TextColor2);  clip-path: polygon(100% 0%, 0% 0%, 0% 15%, 100% 15%, 100% 42.5%, 0% 42.5%, 0% 57.5%, 100% 57.5%, 100% 85%, 0% 85%, 0% 100%, 100% 100%);}
    #menuIcon.active::after {clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);}

    #header {display: none;}
    #header.active {display: flex;  position: fixed;  flex-direction: column;  align-items: center;  justify-content: center;  border: none;  margin: 0;  padding: 0;  backdrop-filter: blur(10px);  background-color: var(--phoneHeaderBack, #00000080);  height: 100%;  width: 100%;  z-index: 14;  transition: all 0.5s;}
    #header.active #headerList {position: absolute;  flex-direction: column;}
    #header.active .headerLink {font-size: 2rem;  padding: 0.5rem 0;  padding-right: 0;  margin: 0;}
    #header.active li a {padding: 0;}
}