@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

html {
    --BackgroundColor1: #1E2340;
    --lightPurple: #5E5BA6;
    --verryLightPurple: #9AA3D9;
    --textColor: #ffffff;
    --textColor2: #999;
    --iconBackgroundColor: #00000000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    widows: 100%;
    min-height: 100vh;
    background: #1E2340;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    width: 100vw;
}

section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--lightPurple, #5E5BA6);
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 85% 100%);
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 1.5s;
    opacity: 0;
}

section .content {
    position: relative;
    padding: 100px 50px 100px 100px;
    box-sizing: border-box;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

section .content h2 {
    color: var(--textColor,#fff);
    font-size: 3em;
    font-weight: 800;
}

section .content p {
    color: var(--textColor,#fff);
    font-size: 1.2em;
}

section .content a {
    position: relative;
    display: inline-block;
    background: var(--lightPurple, #5E5BA6);
    color: var(--textColor,#fff);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 700;
    letter-spacing: 2px;
}

section .imgbx {
    position: relative;
    padding-right: 100px;
}

section .imgbx img {
    max-width: 500px;
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 2s;
    opacity: 0;
}


/*Custom        Custom          Custom          Custom  */

.customtxt {display: flex;}
.customtxt li {
    list-style: none;
    margin-right: 4px;
    font-size: 1.2em;
}

.infolink {text-decoration: underline;}
.infolink:hover {
    color: var(--verryLightPurple,#9AA3D9);
    cursor: pointer;
}

.spoiler {
    background: linear-gradient(-45deg, #898EF9,#8F79DB, #C291F2);
    color: #ffffff00;
    cursor: pointer;
    font-style: italic;
    border-radius: 3px;
} .spoiler:hover{
    animation: spoilgradient 3s ease-in infinite;
} .spoiler.clicked {
    background: none;
    color: var(--textColor,#fff);
    cursor: text;
    animation: spoil 0.2s
}

@keyframes spoilgradient {
    0% {background:  #898EF9}
    33% {background: #8F79DB}
    66% {background: #C291F2}
    100% {background:  #898EF9}
}
@keyframes spoil {
    0% {background-color: #8e79db;color: #ffffff00;}
    25% {color: #ffffff00;}
    100% {background-color: #8e79db00;color: var(--textColor,#fff);}
}








.sci {
    left: 100px;
    border-top: 15px;
    display: flex;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 1s;
    opacity: 0;
    flex-wrap: wrap;
    
    margin-top: 20px;
}
.sci2 {left: 370px;}



.sci a {
    text-decoration: none;
    color: var(--textColor2,#999);
    margin-right: 15px;
    font-size: 0.9em;
    background: none!important;
}

.sci a:hover {
    color: var(--textColor,#fff);
}


.nav {
    position: absolute;
    top: 75px;
    left: 100px;
    display: flex;
    border-left: 5px solid var(--verryLightPurple,#9AA3D9);
    padding-left: 20px;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;
}

.nav li {
    list-style: none;
    display: flex;
}

.nav li a {
    text-decoration: none;
    color: var(--textColor,#fff);
    margin-right: 15px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 500;
}
.nav li p {
    text-decoration: none;
    color: var(--textColor,#fff);
    margin-right: 5px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 500;
}.nav li select {
    border: none;
}

.nav li a.active,
.nav li a:hover {
    color: var(--verryLightPurple,#9AA3D9);
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes left-in {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.loader {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.loader.load {
    display: none;
}

.loaderOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1e2340;
    animation: hideModalOverlay 0.8s;
}
.loaderContent {
    padding: 30px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.loaderContent ul {
    list-style: none;
    display: flex;
    color: var(--verryLightPurple);
    font-size: 50px;
    cursor:progress;
}

.loaderContent li {
    margin: 2px;
}

.loaderIcon {
    border: 5px solid var(--lightPurple); /* fond */
    border-top: 5px solid var(--verryLightPurple); /* loader */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 25px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



.modal-container {
    position: fixed;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
}

.modal-container.active {
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1E2340d3;
    opacity: 0;
    display: none;
    animation: hideModalOverlay 0.8s;
}
.modal-container.active .overlay {
    opacity: 1;
    display: block;
    animation: showModalOverlay 0.8s;
}
@keyframes showModalOverlay {from {opacity: 0;display: block;} to {opacity: 1;display: none;}}
@keyframes hideModalOverlay {
    0% {opacity: 1;display: block;}
    99% {opacity: 0;display: block;}
    100% {display: none;}
    
}




.modal {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: var(--lightPurple, #5E5BA6);
    border-radius: 3px;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-container.active .modal {
    top: 40%;
}

.close-modal {
    padding: 3px 11px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    position: absolute;
    background: #272F59;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.close-modal:hover {
    animation: modalbtnhover 0.3s;
    background: #1E2340;
}@keyframes modalbtnhover {from {background: #272F59;}to {background: #1E2340}}

.modal h1 {
    margin-bottom: 5px;
    font-weight: 500;
}

#modal-content {
    line-height: 1.4;
    margin-bottom: 5px;
}
@media (max-width: 1200px){
    section .imgbx img {
        max-width: 350px;
    }
}



@media (max-width: 991px){

    
    .menuicon {
        position: fixed;
        top: 40px;
        right: 40px !important;
        width: 30px;
        height: 30px;
        background: url(./img/png/menu.png);
        filter: invert(1);
        cursor: pointer;
        background-repeat: no-repeat;
        z-index: 999;
    }

    .menuicon.active {
        background: url(./img/png/close.png);
        filter: invert(1);
        cursor: pointer;
        background-repeat: no-repeat;
        z-index: 1000;
    }
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.95);
        flex-direction: column;
        z-index: 11;
        border: none;
        padding: 50px;
    }
    .nav.active {
        left: 0;
    }
    .nav li {
        margin: 5px 0;
    }
    section {
        flex-direction: column-reverse;
        justify-content: center;
    }
    section:before {
        clip-path: polygon(0 0, 100% 0, 100% 10%, 0 26%);
    }
    section .content {
        padding: 50px;
        margin-bottom: 30px;
    }
    section .content h2 {
        font-size: 1.5em;
    }
    section .content p {
        font-size: 1em;
    }
    
    section .imgbx {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin-top: 20px;
    }
    .customtxt li {
        font-size: 1em;
    }
}

@media (max-width: 500px){
    
}
@media (max-width: 374px){
    section .imgbx img {
        max-width: 250px;
    }
}
